.col12 {
    padding: 4px 8px !important;
}

.viewBtn {
    display: flex;
    justify-content: flex-end;
}

.btnDelete {
    border-color: transparent;
    background: transparent;
    color: #93a2dd;
    margin: 0 8px;
}

.btnSearch {
    margin: 0 8px;
}

.viewContent {
    border: none;
    background: transparent;
    text-decoration: underline;
    color: blue;
}

.colorRed {
    color: red;
}

.colorGreen {
    color: green;
}